*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITY */

.img_classe{
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

/* BG COLORS FOR LAYOUT */

.bgc-sidebar{
    background-color: rgb(5,30,52);
}

.bgc-yellow{
    background-color: yellow;
}

.bgc-blue{
    background-color: lightskyblue;
}

.bgc-black{
    background-color: rgba(0, 0, 0, 0.515);
}

/* MACRO LAYOUT */

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
}

aside{
    height: calc(100vh - 70px);
    width: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
}

main{
    overflow: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100vh - 70px);
    width: 90%;
}

#topbar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#cards{
    overflow: auto;
    height: calc(100% - 100px);
    width: 100%;
    background-color: rgb(248,249,250);
    padding: 10px 0;
}

/* BOOTSTRAP layout */

.content{
    width: 100%;
}

.contents{
    background-color: lightgray;
    height: 100px;
}

/* Sidebar */

.sidebar_row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}