*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITY */

.img_classe{
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.button_topbar{
    font-size: 12px;
    color: white;
    background-color: rgb(22,91,186);
    border: none;
    border-radius: 40px;
    padding: 2px 8px;
}

.content{
    width: 100%;
}

.padding_right{
    padding-right: 4px;
}

/* BG COLORS */

.bgc-sidebar{
    background-color: rgb(5,30,52);
}

.bgc-topbar{
    background-color: rgb(27,114,232);
}

/* MACRO LAYOUT */

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    background-color: rgb(248,249,250);
}

aside{
    height: calc(100vh - 70px);
    width: 140px;
    position: fixed;
    bottom: 0;
    left: 0;
}

main{
    overflow: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100vh - 70px);
    width: calc(100% - 140px);
}

#topbar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#cards{
    height: calc(100% - 100px);
    width: 100%;
    background-color: rgb(248,249,250);
    padding: 10px 0;
}

/* sidebar contents */

.sidebar_row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.table th:nth-child(1), .table td:nth-child(1){
    width: auto;
}

.table th:not(:nth-child(1)), .table td:not(:nth-child(1)){
    width: 7rem;
    text-align: center;
}


/* header contents */

.logo_sm{
    height: 3.2rem;
}

.border_none li{
    border: none;
}

.fa-bell{
    color: rgb(255,143,0);
}

.search-bar{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(229,229,229);
    margin: 0px;
}

.search-bar-input{
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(229,229,229);

}

.search-bar i{
    padding-right: 15px;
}

/* topbar */

.offcanvas_width{
    --bs-offcanvas-width: 50%;
}

/* HOVER effects */

.nav-item:hover{
    background-color: gray;
}

/* RESPONSIVE */

@media screen and (max-width: 992px){
    .search-bar{
        margin: 3px 0px;
    }

    aside{
        width: 70px;
    }

    main{
        width: calc(100% - 70px);
    }

    .offcanvas_width{
        --bs-offcanvas-width: 100%;
    }

    .nav-item:hover{
        background-color: transparent;
    }

}

@media screen and (max-width: 576px){
    .table th:nth-child(2), .table td:nth-child(2), .table th:nth-child(3), .table td:nth-child(3){
        display: none;
    }
}

